<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Lease Calculator</title>
</head>
<body>
<h2>Leasebudget:</h2>
Bij Incentro worden er twee verschillende leasebudgets gehanteerd:<br>
740,- voor auto's met fossiele brandstoffen<br>
780,- voor volledig elektrische auto's<br><br>

Dit bedrag is naar rato, dus als je bijvoorbeeld 0,8 fte werkt (4 dagen), moet je eerst 80% berekenen: 0,8 * 740 = 592,-<br><br>
<a href="/">Terug</a>
</body>
</html>