{% extends "base.html" %}

{% block content %}
<h1>Lease Calculator</h1>
Vul hele getallen in!<br><br>
<form action="/" method="POST">
    <table>
        <tr>
            <td>Brutoloon per maand:</td>
            <td><input type="text" name="brutoloon" id="brutoloon" placeholder="" required="required" autofocus="autofocus"></td>
            <td><a href="" class="btn btn-primary" data-toggle="modal" data-target="#modal1">meer info...</a></td>
        </tr>
        <tr>
            <td>Leasebudget per maand:</td>
            <td><input type="text" name="leasebudget" id="leasebudget" placeholder="" required="required" autofocus="autofocus"></td>
            <td><a href="" class="btn btn-primary" data-toggle="modal" data-target="#modal2">meer info...</a></td>
        </tr>
        <tr>
            <td>Leasetarief:</td>
            <td><input type="text" name="leasetarief" id="leasetarief" placeholder="" required="required" autofocus="autofocus"></td>
            <td><a href="" class="btn btn-primary" data-toggle="modal" data-target="#modal3">meer info...</a></td>
        </tr>
        <tr>
            <td>Fiscale waarde auto:</td>
            <td><input type="text" name="fiscalewaarde" id="fiscalewaarde" placeholder="" required="required" autofocus="autofocus"></td>
            <td><a href="" class="btn btn-primary" data-toggle="modal" data-target="#modal4">meer info...</a></td>
        </tr>
        <tr>
            <td>
            <input type="radio" id="benzine" name="bijtelling" value="benzine">
            <label for="benzine">Benzine / Hybrid</label><br>
            </td>
            <td>
            <input type="radio" id="elektrisch" name="bijtelling" value="elektrisch">
            <label for="elektrisch">Volledig Elektrisch</label><br>
            </td>
            <td><a href="" class="btn btn-primary" data-toggle="modal" data-target="#modal5">meer info...</a></td>
        </tr>
        <tr>
            <td>Extra netto inkomsten:</td>
            <td><input type="text" name="netto_extra" id="netto_extra" placeholder="" autofocus="autofocus"></td>
            <td><a href="" class="btn btn-primary" data-toggle="modal" data-target="#modal5">meer info...</a></td>
        </tr>
        <tr>
            <td><input type="submit" value="Bereken!"></td>
        </tr>

    </table>
</form>
<h3>Je netto inkomsten zijn (indicatieve waarde): &euro;{{ netto }}</h3>
<!-- Modal for brutoloon -->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Brutoloon per maand:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Vul hier je brutoloon per maand in. Als je parttime werkt, dan vul je je brutoloon naar rato in.<br><br>
          Voorbeeld: Je werkt 4 dagen, dus 80%. 0,8 * 3000 = 2400,-
      </div>
    </div>
  </div>
</div>

<!-- Modal for leasebudget -->
<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Leasebudget per maand:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bij Incentro worden er twee verschillende leasebudgets gehanteerd:<br>
        740,- voor auto's met fossiele brandstoffen<br>
        780,- voor volledig elektrische auto's<br><br>
        Dit bedrag is naar rato, dus als je bijvoorbeeld 0,8 fte werkt (4 dagen), moet je eerst 80% berekenen: 0,8 * 740 = 592,-
      </div>
    </div>
  </div>
</div>

<!-- Modal for leasetarief -->
<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Leasetarief:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Dit is het leasetarief wat je kunt vinden in de leaseportal. Als je op bereken klikt dan zie je het leasetarief staan boven je eigen bijdrage.<br><br>
      </div>
    </div>
  </div>
</div>

<!-- Modal for fiscale waarde -->
<div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Fiscale waarde:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        De fiscale waarde van de auto vind je ook terug in de leaseportal, naast "Indicatieve fiscale waarde".<br><br>
      </div>
    </div>
  </div>
</div>

<!-- Modal for fiscale waarde -->
<div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bijtelling:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Voor benzine-auto's (en ook hybride's) geldt: 22%<br>
          Voor volledig elektrische auto's geldt voor de eerste 40.000 een bijtelling van 12%, en voor alles boven de 40.000 geldt 22%.<br><br>
      </div>
    </div>
  </div>
</div>

<!-- Modal for extra netto inkomsten -->
<div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Extra netto inkomsten:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Vul hier extra netto inkomsten in. Denk aan een thuiswerkvergoeding<br>
          of het maandelijkse bedrag wat je van Incentro standaard krijgt voor telefoonkosten e.d.<br><br>
      </div>
    </div>
  </div>
</div>

{% endblock %}